<div class="container">
  <table class="table table-striped">
    <tr><th>
    <h2>質問一覧</h2><%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {
        prompt: 'タグで絞り込み',
        class: 'form-control boards__select',
        onchange: 'submit(this.form);'
      }
      %>
    </th></tr>
    <% @posts.each do |post| %>
      <tr class ="textarea">
      <td class="textarea text-dark"><h5><%= link_to post.title, post,:style => "color: black;" %></h5><br>
      <i class="fa fa-heart like-btn"></i>(<%= post.liked_users.count %>)
      <i class="fa fa-thumbs-up good"></i>(<%= post.felt_users.count %>)　　　
      <%= post.updated_at.to_s(:datetime_jp) %>　　　
      <%= link_to post.user.name ,user_path(post.user.id), :style => "color: black;" %>
      | <%= post.user.age%>歳 | <%= post.user.gender%> | <%= post.user.job%>
      </td>
      </tr>
      <% end %>
  </table>
</div>

<%= paginate @posts %>