
<header>
  <nav class="navbar navbar-expand ">
    <%= link_to "Efforts",root_path, id: "logo",class:"navbar-brand  text-white" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if @current_user %>
          <li><%= link_to 'マイページ', '#' ,class: 'btn btn-outline-dark'%></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-outline-dark' %></li>
          <li><%= link_to '質問作成', new_post_path, class: 'btn btn-outline-dark' %></li>
        <% else %>
          <%= link_to '新規登録', new_user_path, class: 'btn btn-outline-dark' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-outline-dark' %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>